doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 景點資料
    link(rel="stylesheet", href="{{url_for('static', filename='attraction.css')}}")
  body 
    #page-attraction
      include ./components/nav.pug
      include ./components/sign.pug
      #main
        .container
          .carousel
            .carousel-btn.prev(data-direction="previous")
              img(src="{{ url_for('static', filename='imgs/backward.png') }}")
            .carousel-btn.next(data-direction="next")
              img(src="{{ url_for('static', filename='imgs/forward.png') }}")
            .carousel-imgs
            .carousel-indicators
          .area
            .title 景點資料
            .subtitle 
            .panel
              .panel-title 訂購導覽行程
              .panel-subtitle 以此景點為中心的一日行程，帶您探索城市角落故事
              form(action="/asdsad", method="post") 
                .input-date
                  label(for="date") 選擇日期：
                  .wrapper
                    input(
                      onfocus="(this.type='date')"
                      onblur="(this.type='text')"
                      type="text" 
                      placeholder="yyyy/mm/dd"
                      id="date"
                      )
                    img.icon(src="{{ url_for('static', filename='imgs/icon_calendar.png') }}")
                .input-time
                  label(for="time") 選擇時間：
                  .wrapper
                    input(type="radio" name="time" id="time" value=2000 checked) 
                    span 上半天
                  .wrapper
                    input(type="radio" name="time" id="time" value=2500)
                    span 下半天
                .input-fee 
                  label(for="fee") 導覽費用：
                  span.fee 新台幣 2000 元
                  input(type="number" id="fee" value=2000 min)
                input.panel-button(
                  type="submit" 
                  value="開始預約行程"
                  ) 

      #info
        .container
          .description
            .content 平安鐘祈求大家的平安，這是為了紀念921地震週年的設計，在喧鬧的廣場上每個小時鳴鐘，保佑平安，祈禱臺灣不會再發生這樣的天災。雙手合十加上108個黃色的琉璃乳丁，隨著緩緩流下的水，在底下的一個小噴泉噴出。雙手合十的意義，一個是祈福，一個是包容，教我們要包容這樣的改變，撫平這樣的傷口。下面的水緩緩流出，代表著人的生命力是不斷地延續下去。緩緩地鐘聲，卻帶來心中的寧靜。 這個平安鐘是由建築師姚仁喜與琉璃創作家王俠軍共同設計，長6公尺、寬5公尺，以鑄銅製成，由法鼓山文教基金會全額出資。平安鐘點綴都市景觀，不時提醒大家，面對刻骨銘心的災難痛苦，更應該有謙卑的一顆心。
          .address
            .info-title 景點地址：
            .content 臺北市 大安區忠孝東路4段
          .transport
            .info-title 交通方式：
            .content 捷運站名：忠孝復興站4號出口1.公車：204、212、212直、232、232副、262、262(區間)、278、299、521、605、605(副)、605(新台五線)、667、903、忠孝新幹線至頂好市場站 2.車位：太平洋崇光百貨地下停車場或市民大道附近地下停車場

      include ./components/footer.pug

  
  script(src="{{ url_for('static', filename='/scripts/attraction.js') }}")